{% comment %}Product page scaffold.{% endcomment %}

<div class="container-rube py-10">
  <h1>{{ product.title }}</h1>
  <div>
    {{ product.featured_image | image_url: width: 1200 | image_tag: loading: 'eager', alt: product.title }}
  </div>

  <div>
    {{ product.price | money_without_trailing_zeros }}
  </div>

  <form action="{{ product.url }}/cart/add" method="post" enctype="multipart/form-data">
    <select name="id" aria-label="Select variant">
      {% for variant in product.variants %}
        <option value="{{ variant.id }}">{{ variant.title }}</option>
      {% endfor %}
    </select>
    <button type="submit">Add to cart</button>
  </form>
</div>

{% schema %}
{
  "name": "RUBE Product",
  "settings": [],
  "presets": [
    {
      "name": "RUBE Product"
    }
  ]
}
{% endschema %}

